/.config/google-chrome/
/.config/TabNine/
/.config/emacs/
*#
/.config/github-copilot/
/.config/Code - OSS/
/.config/dconf/
/.config/pavucontrol.ini
/.config/.android/
/.config/Google/
/.config/activitywatch/
/.config/mimeapps.list
/.config/btop/
/.config/chromium/
/.config/naev/
/.config/neofetch/
/.config/spotify/
/.config/Android Open Source Project/
/.config/Docker Desktop/
/.config/clipse/
/.config/Meltytech/
/.config/QtProject.conf
/.config/kritadisplayrc
/.config/kritarc
/.config/audacity/
/.config/deluge/
