/.config/google-chrome/
/.config/TabNine/
/.config/emacs/
*#
/.config/github-copilot/
/.config/Code - OSS/
/.config/dconf/
/.config/pavucontrol.ini
/.config/.android/
/.config/Google/
/.config/activitywatch/
/.config/mimeapps.list
/.config/btop/
/.config/chromium/
/.config/naev/
/.config/neofetch/
/.config/spotify/
/.config/Android Open Source Project/
/.config/Docker Desktop/
/.config/clipse/
/.config/Meltytech/
/.config/QtProject.conf
/.config/kritadisplayrc
/.config/kritarc
/.config/audacity/
/.config/deluge/
/.config/vlc/
/.config/notion-app/
/.config/Notion/
/.config/Postman/
/.config/asciinema/
/.config/cava/
/.config/cavasik/
/.config/dolphinrc
/.config/figma-linux/
/.config/filetypesrc
/.config/gconf/
/.config/kde.org/
/.config/kiorc
/.config/menus/
/.config/nextjs-nodejs/
/.config/noisetorch/
/.config/nvm/
/.config/nwg-drawer/
/.config/pomodoro-logger/
/.config/yarn/
/.config/uGet/
