/.config/google-chrome/
/.config/TabNine/
/.config/emacs/
*#
/.config/github-copilot/
/.config/Code - OSS/
/.config/dconf/
/.config/pavucontrol.ini
/.config/.android/
/.config/Google/
/.config/activitywatch/
/.config/mimeapps.list
